#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(16, 7, 111, 0.356);
}

* {
  background-color: rgb(167, 199, 214);
}

.btn{
  border-radius: 20px;
  box-shadow: 25px;
}

.btn:hover{
  background-color: black;
  color: peachpuff;
}

.admission {
  box-sizing: border-box;
  border-color: brown;
  box-shadow: 5px;
  border-radius: 10px;
  border-color: rgb(5, 41, 41);
}

.redo{
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px ;
  border-bottom-right-radius: 5px;
}

.redo:hover {
  background-color: green;
  color: white;
}

.save {
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px ;
  border-bottom-right-radius: 5px;
}

.save:hover {
   background-color: purple;
   color: whitesmoke;
}

.delete{
  background: hsla(0, 93%, 47%, 0.872);
  border: 1px solid hsl(0, 8%, 3%);
  color: hsl(0, 35%, 90%);
}

.delete:hover,
.delete:focus-visible {
  background: hsla(0, 97%, 50%, 0.527);
}
/* .delete:hover{
  background-color: rgb(255, 0, 0);
  color: white;
} */
.list-item{
    margin: 10px;
    padding: 10px;
    margin-left: 1rem;
    list-style: none;
}
.list-item ul:has(input:checked) label {
  color:hsl(0, 35%, 90%)
}